<label for="name">
	<f:translate key="tx_weather2_domain_model_currentweather.name"/>
</label><br/>
<f:form.textfield property="name"/><br/>
<label for="measureTimestamp">
	<f:translate key="tx_weather2_domain_model_currentweather.measure_timestamp"/>
</label><br/>
<f:form.textfield property="measureTimestamp"/><br/>
<label for="temperatureC">
	<f:translate key="tx_weather2_domain_model_currentweather.temperature_c"/>
</label><br/>
<f:form.textfield property="temperatureC"/><br/>
<label for="pressureHpa">
	<f:translate key="tx_weather2_domain_model_currentweather.pressure_hpa"/>
</label><br/>
<f:form.textfield property="pressureHpa"/><br/>
<label for="humidityPercentage">
	<f:translate key="tx_weather2_domain_model_currentweather.humidity_percentage"/>
</label><br/>
<f:form.textfield property="humidityPercentage"/><br/>
<label for="minTempC">
	<f:translate key="tx_weather2_domain_model_currentweather.min_temp_c"/>
</label><br/>
<f:form.textfield property="minTempC"/><br/>
<label for="maxTempC">
	<f:translate key="tx_weather2_domain_model_currentweather.max_temp_c"/>
</label><br/>
<f:form.textfield property="maxTempC"/><br/>
<label for="windSpeedMPS">
	<f:translate key="tx_weather2_domain_model_currentweather.wind_speed_m_p_s"/>
</label><br/>
<f:form.textfield property="windSpeedMPS"/><br/>
<label for="windDirectionDeg">
	<f:translate key="tx_weather2_domain_model_currentweather.wind_direction_deg"/>
</label><br/>
<f:form.textfield property="windDirectionDeg"/><br/>
<label for="popPercentage">
	<f:translate key="tx_weather2_domain_model_currentweather.pop_percentage"/>
</label><br/>
<f:form.textfield property="popPercentage"/><br/>
<label for="snowVolume">
	<f:translate key="tx_weather2_domain_model_currentweather.snow_volume"/>
</label><br/>
<f:form.textfield property="snowVolume"/><br/>
<label for="cloudsPercentage">
	<f:translate key="tx_weather2_domain_model_currentweather.clouds_percentage"/>
</label><br/>
<f:form.textfield property="cloudsPercentage"/><br/>
<label for="serializedArray">
	<f:translate key="tx_weather2_domain_model_currentweather.serialized_array"/>
</label><br/>
<f:form.textfield property="serializedArray"/><br/>