{namespace weather=JWeiland\Weather2\ViewHelpers}

<weather:ConvertMetricToISoU weatherModel="{currentWeather}" as="convertedData">
	<div class="weather2-item weather2-report" id="weather2-weather{currentWeather.uid}">
		<div class="primary">
			<div class="weather-icon">
				<f:image src="{settings.iconsPath}{currentWeather.icon}.png" alt="icon"/>
			</div>
			<div class="weather-data">
				<h3>{convertedData.temperatureC} K</h3>
				<p><f:translate key="tx_weather2_domain_model_currentweather.min_temp_c" />: {convertedData.minTempC} K</p>
				<p><f:translate key="tx_weather2_domain_model_currentweather.max_temp_c" />: {convertedData.maxTempC} K</p>
				<p><a href="#" class="showMore" toggle-label="{f:translate(key: 'tx_weather2.utility.showLess')}"><f:translate key="tx_weather2.utility.showMore" /></a></p>
			</div>
		</div>
		<ul class="secondaryProperties">
			<li><f:translate key="tx_weather2_domain_model_currentweather.rain_volume" />: {convertedData.rainVolume} mm</li>
			<f:if condition="{currentWeather.snowVolume}"><li><f:translate key="tx_weather2_domain_model_currentweather.snow_volume" />: {convertedData.snowVolume} mm</li></f:if>
			<li><f:translate key="tx_weather2_domain_model_currentweather.clouds_percentage" />: {convertedData.cloudsPercentage} %</li>
			<li><f:translate key="tx_weather2_domain_model_currentweather.pressure_hpa" />: {convertedData.pressureHpa} hPa</li>
			<li><f:translate key="tx_weather2_domain_model_currentweather.wind_speed_m_p_s" />: {convertedData.windSpeedMPS} m/s <f:translate key="from" /> <f:translate key="tx_weather2_domain_model_currentweather.wind_readable_direction.{convertedData.windDirSection}" /></li>
			<li><f:translate key="tx_weather2_domain_model_currentweather.measure_timestamp" />: {convertedData.measureTimestamp -> f:format.date(format: 'd.m.Y - H:i')}</li>
		</ul>
	</div>
</weather:ConvertMetricToISoU>