<table class="tx-jw-open-weather">
	<tr>
		<td>
			<f:translate key="tx_weather2_domain_model_currentweather.name"/>
		</td>
		<td>
			{currentWeather.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_weather2_domain_model_currentweather.measure_timestamp"/>
		</td>
		<td>
			{currentWeather.measureTimestamp}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_weather2_domain_model_currentweather.temperature_c"/>
		</td>
		<td>
			{currentWeather.temperatureC}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_weather2_domain_model_currentweather.pressure_hpa"/>
		</td>
		<td>
			{currentWeather.pressureHpa}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_weather2_domain_model_currentweather.humidity_percentage"/>
		</td>
		<td>
			{currentWeather.humidityPercentage}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_weather2_domain_model_currentweather.min_temp_c"/>
		</td>
		<td>
			{currentWeather.minTempC}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_weather2_domain_model_currentweather.max_temp_c"/>
		</td>
		<td>
			{currentWeather.maxTempC}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_weather2_domain_model_currentweather.wind_speed_m_p_s"/>
		</td>
		<td>
			{currentWeather.windSpeedMPS}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_weather2_domain_model_currentweather.wind_direction_deg"/>
		</td>
		<td>
			{currentWeather.windDirectionDeg}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_weather2_domain_model_currentweather.pop_percentage"/>
		</td>
		<td>
			{currentWeather.popPercentage}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_weather2_domain_model_currentweather.snow_volume"/>
		</td>
		<td>
			{currentWeather.snowVolume}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_weather2_domain_model_currentweather.clouds_percentage"/>
		</td>
		<td>
			{currentWeather.cloudsPercentage}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_weather2_domain_model_currentweather.serialized_array"/>
		</td>
		<td>
			{currentWeather.serializedArray}
		</td>
	</tr>
</table>

