<div class="weather2-item  weather2-alert alert-level-{weatherAlert.level}" id="weather2-alert{weatherAlert.uid}">
	<div class="primary">
		<div class="weather-data">
			<h3>{weatherAlert.title}</h3>
			<p><a href="#" class="showMore" toggle-label="{f:translate(key: 'tx_weather2.utility.showLess')}"><f:translate key="tx_weather2.utility.showMore" /></a></p>
		</div>
	</div>
	<ul class="secondaryProperties">
		<li>{weatherAlert.description}</li>
		<f:if condition="{weatherAlert.instruction}">
			<li>{weatherAlert.instruction}</li>
		</f:if>
		<li><f:translate key="tx_weather2_domain_model_weatheralert.starttime" />: <f:format.date format="d.m.Y - H:i">{weatherAlert.starttime}</f:format.date></li>
		<li><f:translate key="tx_weather2_domain_model_weatheralert.endtime" />: <f:format.date format="d.m.Y - H:i">{weatherAlert.endtime}</f:format.date></li>
	</ul>
</div>
