.weather2-item {
  background-color: #f1f1f1;
  border-top: 4px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: block;
  text-align: right;
  margin: .3em 0;
  width: 100%;
}

.weather2-item p {
  font-size: .8em;
  color: #666;
  padding: 0;
  margin: 0;
}

.weather2-item h3 {
  font-weight: normal;
  padding: 0;
  top: 0;
  position: relative;
  margin: 0;
}

.weather2-report h3 {
  font-size: 1.54em;
}

.weather2-alert h3 {
  font-size: 1.3em;
}

.weather2-item .primary {
  position: relative;
  display: block;
  width: 100%;
}

.weather2-item .primary::after {
  clear: both;
}

.weather2-item .primary .weather-icon {
  float: left;
  display: block;
  padding: .5em;
}

.weather2-item .primary .weather-data {
  text-align: right;
  padding: .5em;
}

.weather2-item .showMore {
  display: block;
}

.weather2-item {
  display: inline-block;
}

.weather2-item h2 {
  padding: 0;
  margin: 0;
}

.weather2-item ul li {
  list-style: none;
}

.weather2-item ul.secondaryProperties {
  display: none;
  height: auto;
  width: 100%;
  padding: 0 .8em;
  margin: 0;
}

.weather2-item ul.secondaryProperties li {
  border-top: 1px solid #ccc;
  padding: .3em;
}

.weather2-item ul.secondaryProperties li:first-of-type {
  border-top: 2px solid #ccc;
}

.weather2-item ul.secondaryProperties.expanded {
  display: inline-block;
}

/* colors for different weather alert levels */
.alert-level-0.weather2-item,
.alert-level-1.weather2-item,
.alert-level-2.weather2-item {
  border-top-color: #e2d17f
}

.alert-level-3.weather2-item {
  border-top-color: #b35223;
}

.alert-level-4.weather2-item {
  border-top-color: #b54c4c;
}

.alert-level-5.weather2-item {
  border-top-color: #8a3131;
}

.alert-level-10.weather2-item,
.alert-level-20.weather2-item {
  border-top-color: #8d3298;
}